<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>
        <form [formGroup]="userRegister" class="example-form" id="userRegister">
            <mat-card-content>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Enter the Name" formControlName="name">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Enter the Email" formControlName="email">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Enter the Password" formControlName="password">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Bio</mat-label>
                    <textarea matInput placeholder="Something interesting..." formControlName="bio"></textarea>
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block" (click)="register()">Register</button>
        </form>
    </mat-card>
</div>